StaticPages#home

<div id="old-result">
  Old
  <ul class="results">
  </ul>
</div>
<div id="new-result">
  New
  <ul class="results">
  </ul>
</div>

<button class="btn btn-success sk-calculate-btn" data-increment='1'>Calculate 1</button>
<button class="btn btn-success sk-calculate-btn" data-increment='2'>Calculate 2</button>
<button class="btn btn-success sk-calculate-btn" data-increment='3'>Calculate 3</button>
<button class="btn btn-success sk-calculate-btn" data-increment='4'>Calculate 4</button>
<button class="btn btn-success sk-calculate-btn" data-increment='5'>Calculate 5</button>

<%= content_for :js do %>
<script>
  var arr = [];
  $.get('<%= static_pages_home_path(format: :json) %>',function(json){
    console.log(json)
    arr = json;
    $('#old-result ul.results').html(array_to_li(arr));
  })

  $('.sk-calculate-btn').click(function(){
    calculate(Number($(this).data('increment')));
  })
  var calculate = function(inc){
    var new_arr = $.map(arr,function(a){
      return a+inc;
    })
    $('#new-result ul.results').html(array_to_li(new_arr));
  }

  









</script>
<% end %>
